body{
            font-family: system-ui;
            min-height: 100vh;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            background-color: #2B2B2B;
            color: white;
        }

        ul{ min-width: 350px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }

        li {
            list-style-type: none;
            margin: 1%;
            padding: 0px  24px;
            background-color: #2B2B2B;
            color: white;
            border: white solid 3px;
            border-radius:calc(10px + 2vw) ;
            transition: .3s;
        }
        li:hover {
            color: #2B2B2B;
            background-color: white;
            scale: 1.1;
        }

        h1{
            font-size: 7vw;
        }
        p{
            font-size:calc(10px + 2vw);
            ;
        }
        a{
            color: inherit;
            text-decoration: none;
            transition: .3s;
        }